h1{
  font-family: 'IM Fell French Canon SC', serif;
  text-align: center;
  font-size: 50px;
  color: black;

}
h2,h3{
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 30px;
  color: brown;

}

h4{
  font-family: serif;
  text-align: center;
  font-size: 25px;
  color: grey;

}

.background-image{
  image-resolution: from-image;
  width:auto;

}
